/* (A) WHOLE PAGE */
* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
body { padding: 0; margin: 0; }
:root {
  --bg-color-a: #3b39af;
  --bg-color-b: #5250da;
  --bg-color-c: #8e1515;
}

/* (B) PERIOD SELECTOR */
#calPeriod {
  position: relative;
  padding: 10px;
  background: var(--bg-color-a);
}
#calPeriod input, #calPeriod select {
  padding: 10px;
  font-size: 1.2em;
  border: 0;
  outline: none;
  cursor: pointer;
  background: #fff;
}
#calMonth { width: 180px; }
#calYear { width: 130px; text-align: center; }
#calPeriod #calAdd { position: absolute; right: 10px; }

/* (C) CALENDAR */
/* (C1) SHARED */
.calHead, .calRow { display: flex; }
.calCell { width: 14.2857%; }

/* (C2) HEADER - DAY NAMES */
.calHead .calCell {
  color: #fff;
  background: var(--bg-color-b);
  font-weight: 700;
  text-align: center;
  padding: 10px;
}

/* (C3) BODY - INDIVIDUAL DAYS */
.calBlank { background: #eee; }
.calToday { background: #e7f2ff; }
.calBody .calCell {
  border: 1px solid #ededed;
  min-height: 100px;
}
.cellDate, .evt { padding: 5px; }
.cellDate { font-size: 1.1em; }
.evt {
  font-size: 0.8em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

/* (D) EVENT FORM */
/* (D1) FORM WRAPPER */
#calForm {
  position: fixed; 
  top: 0; left:0; z-index: 999;
  width: 100vw; height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}
#calForm.show {
  visibility: visible;
  opacity: 1;
}

/* (D2) FORM ITSELF */
#calForm form {
  width: 400px;
  padding: 15px;
  background: #fff;
  position: relative;
}
#evtCX {
  position: absolute;
  top: 0; right: 0;
  padding: 10px;
  color: #fff;
  background: var(--bg-color-c);
  cursor: pointer;
}

/* (D3) FORM ELEMENTS */
#calForm label, #calForm input {
  display: block;
  width: 100%;
}
#calForm label {
  font-size: 0.9em;
  color: #8b8b8b;
  padding: 10px 0;
}
#calForm input { padding: 10px; }
#calForm textarea { resize: none; }
#calForm input[type=color] {
  padding: 0;
  height: 25px;
}
#evtFoot {
  display: flex;
  margin-top: 15px;
}
#evtSave, #evtDel {
  color: #fff;
  border: 0;
  cursor: pointer;
}
#evtSave, #evtDel { background: var(--bg-color-c); }
#evtDel { margin-right: 5px; }